---
import Meta from "../components/Meta.astro"
---
<!DOCTYPE html>
<html lang="ja">
	<Meta />
	<body>
		<slot />
	</body>
</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
